@page "/"

<PageTitle>Home</PageTitle>

<h1 class="display-4">Wikipedia Search App</h1>

<p>
	To get started, click on the hamburger menu in the upper right part of the screen, then click on the "Search" link.
</p>

<h2 class="h4">About the app</h2>

<p>
	This app was built using Blazor, along with the Bootstrap CSS library. No libraries or other Nuget packages were used, in an effort to demonstrate usage of "pure" Blazor. No JavaScript is used in this app, although there are edge cases where a Blazor app does still require JavaScript.
</p>.